<div class="col-4 group-box">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-drop-down [options]="countries" [formGroup]="form" [controlName]="'country'"
            [required]="true"></app-drop-down>
        <app-input [formGroup]="form" [controlName]="'code'" [required]="true"></app-input>
        <app-input [formGroup]="form" [controlName]="'name'" [required]="true"></app-input>
        <div>
            <button pButton type="submit" [label]="id != undefined || id != null ? 'Update' : 'Add'" icon="fa-plus"
                [disabled]="form.invalid"></button>
        </div>
    </form>
</div>
<p-toast></p-toast>