<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2" (onClick)="onAdd()" />
        <p-button severity="info" label="Refresh" icon="pi pi-refresh" class="mr-2" (onClick)="loadCargoArrivals()" />
    </ng-template>

</p-toolbar>
<p-table [value]="cargoArrivals" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Declaration</th>
            <th>Vehicle</th>
            <th>Arrival Type</th>            
            <th>Date</th>
            <th>Package Count</th>            
            <th>Weight</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cargo>
        <tr>
            <td>{{ cargo.declarationNumber }}</td>
            <td>{{ cargo.vehicleName }}</td>
            <td>{{ cargo.arrivalDeclarationType }}</td>
            <td>{{ cargo.transportDate }}</td>
            <td>{{ cargo.packageCount }}</td>            
            <td>{{ cargo.weight }}</td>            
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"
                    (click)="onEdit(cargo.id)">
                </button>
                <button pButton pRipple type="button" icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger" (click)="onDelete($event,cargo.id)">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast />
<p-confirmDialog />