<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="p-fluid p-formgrid grid">
            <div class="col-6 group-box">
                <div class="grid">
                    <div class="col-6">
                        <app-drop-down [options]="declarations" [formGroup]="form" [controlName]="'declaration'"
                            [required]="true"></app-drop-down>
                    </div>
                    <div class="col-6">
                        <app-drop-down [options]="vehicles" [formGroup]="form" [controlName]="'vehicle'"
                            [required]="true"></app-drop-down>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-6">
                        <app-drop-down [options]="places" [formGroup]="form" [controlName]="'place'"
                            [required]="true"></app-drop-down>
                    </div>
                    <div class="col-6">
                        <app-drop-down [options]="containers" [formGroup]="form" [controlName]="'container'"
                            [required]="false"></app-drop-down>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-6">
                        <app-input-number [formGroup]="form" [controlName]="'packNumber'"
                            [required]="true"></app-input-number>
                    </div>

                    <div class="col-6">
                        <app-input-number [formGroup]="form" [controlName]="'weight'"
                            [required]="true"></app-input-number>
                    </div>
                </div>

                <div class="grid">
                    <div class="col-6">
                        <app-input-number [formGroup]="form" [controlName]="'volume'"
                            [required]="false"></app-input-number>
                    </div>

                    <div class="col-6">
                        <app-en-calender [formGroup]="form" [controlName]="'operationDate'" [required]="true"
                            [showTime]="true"></app-en-calender>
                    </div>
                </div>

                <div class="col-6 justify-self-center">
                    <button pButton type="submit" [label]="id != undefined || id != null ? 'Update' : 'Add'"
                        icon="fa-plus" [disabled]="form.invalid"></button>
                </div>
            </div>
        </div>
    </form>
</div>
<p-toast />