:host ::ng-deep .p-inputtext {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;

    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

// :host ::ng-deep .p-button {
//     color: #ffffff;
//     background: #3B82F6;
//     border: 1px solid #3B82F6;
//     padding: 0.75rem 1.25rem;
//     font-size: 1rem;
//     transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
//     border-radius: 6px;
// }

:host ::ng-deep .p-button {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;

    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}