<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNativeValidate>
        <div class="p-fluid p-formgrid grid  group-box">
            <div class="col-7">
            </div>
            <div class="col-6">
                <app-drop-down [options]="contactTypes" [formGroup]="form" [controlName]="'contactType'"
                    [required]="true"></app-drop-down>
            </div>
            <div class="col-6">
                <app-input [formGroup]="form" [controlName]="'name'" [required]="true"></app-input>
            </div>

            <div class="col-6">
                <app-input [formGroup]="form" [controlName]="'nationalId'" [required]="true"></app-input>
            </div>

            <div class="col-6">
                <app-input [formGroup]="form" [controlName]="'registerNumber'" [required]="false"></app-input>
            </div>

            <div class="col-6">
                <app-input [formGroup]="form" [controlName]="'economicCode'" [required]="false"></app-input>
            </div>

            <div class="col-6">
                <app-en-calender [formGroup]="form" [controlName]="'registerDate'"
                    [required]="true"></app-en-calender>
            </div>

            <div class="col-6">
                <app-input [formGroup]="form" [controlName]="'registerPlace'" [required]="true"></app-input>

            </div>
            <div class="col-6">
                <app-input [formGroup]="form" [controlName]="'postCode'" [required]="true"></app-input>
            </div>

            <div class="col-6">
                <app-input [formGroup]="form" [controlName]="'mobile'" [required]="true"></app-input>
            </div>

            <div class="col-6">
                <app-input [formGroup]="form" [controlName]="'phone'" [required]="true"></app-input>
            </div>

            <div class="col-12">
                <app-input [formGroup]="form" [controlName]="'address'" [required]="true"></app-input>
            </div>
            

            <div class="col-12">
                <button pButton type="submit" [label]="id != undefined || id != null ? 'Update' : 'Add'" icon="fa-plus"
                    [disabled]="form.invalid"></button>
            </div>
        </div>


    </form>
</div>
<p-toast></p-toast>