<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button 
            severity="success" 
            label="New" 
            icon="pi pi-plus" 
            class="mr-2" 
            (onClick)="onAdd()" />
            <p-button 
            severity="info" 
            label="Refresh" 
            icon="pi pi-refresh" 
            class="mr-2" 
            (onClick)="loadPackages()" />
    </ng-template>

</p-toolbar>
<p-table [value]="packages" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-package>
        <tr>
            <td>{{ package.code }}</td>
            <td>{{ package.name }}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"
                    (click)="onEdit(package.id)">
                </button>
                <button pButton pRipple type="button" icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger" (click)="onDelete($event,package.id)">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast />
<p-confirmDialog />