.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}


.layout-card {
    background-color: #E7EEF6 !important;
}

.group-box{
    padding: 3rem;
    border-radius: 25px;
    border: 2px solid #0151A44D;
}