<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button 
            severity="success" 
            label="New" 
            icon="pi pi-plus" 
            class="mr-2" 
            (onClick)="onAdd()" />
            <p-button 
            severity="info" 
            label="Refresh" 
            icon="pi pi-refresh" 
            class="mr-2" 
            (onClick)="loadDeclarations()" />
    </ng-template>

</p-toolbar>
<p-table [value]="declarations" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Traffic</th>
            <th>Contact</th>
            <th>Contact Rep</th>
            <th>Ipas Declaration Id</th>          
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-declaration>
        <tr>
            <td>{{ declaration.number }}</td>
            <td>{{ declaration.date }}</td>
            <td>{{ declaration.trafficName }}</td>
            <td>{{ declaration.contactName }}</td>
            <td>{{ declaration.contactRepName }}</td>
            <td>{{ declaration.ipasDeclarationId }}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-text"
                    (click)="onEdit(declaration.id)">
                </button>
                <!-- <button pButton pRipple type="button" icon="pi pi-times"
                    class="p-button-rounded p-button-text p-button-danger" (click)="onDelete($event,declaration.id)">
                </button> -->
            </td>
        </tr>
    </ng-template>
</p-table>
<p-toast />
